<h1>Add New Movie</h1>
<%= form_with model: @movie,url: '/movies', method: :post do |form| %>
  <div class="col-4">
    <div class="mb-3">
      <%= form.label :name, "Name:", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :synopsis, "Synopsis:", class: "form-label" %>
      <%= form.text_area :synopsis, class: "form-control", rows: 3 %>
    </div>
    <div class="mb-3">
      <%= form.label :director, "Director:", class: "form-label" %>
      <%= form.text_field :director, class: "form-control" %>
    </div>
    <div>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

