<!DOCTYPE html>
<html>
  <head>
    <title>Desafio Movies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

   
      

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= root_path %>>Menú</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=<%= movie_index_path%> role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movies
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Movies", movie_index_path, class: "dropdown-item" %>
            </li>
            <li>
            <%= link_to "Add New Movie", movie_index_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=<%= movie_index_path%> role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Series
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Series", series_index_path, class: "dropdown-item" %>
            </li>
            <li>
            <%= link_to "Add New Serie", series_index_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=<%= documentary_index_path%> role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DocumentaryFilm
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Documentary Film", documentary_index_path, class: "dropdown-item" %>
            </li>
            <li>
            <%= link_to "Add New Documentary", documentary_index_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
  <div class="container">
    <%= yield %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>
</html>
